.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2.chat-main__group-info__left-box__current-group
        = @group.name
      %ul.chat-main__group-info__left-box__member-list
        Member :
        .chat-main__group-info__left-box__member-list__member
          - @group.users.each do |user|
            %li.member
              = user.name
    = link_to edit_group_path(@group) do
      .chat-main__group-info__edit-btn
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'